
<style type="text/css">
	#countDownContainer {
		background : #49b5a6;
		height     : 60px;
		position   : absolute;
		right      : 269px;
		top        : 0;
		width      : 380px;
		z-index    : 1000;
	}

	#countDownContainer p.title {
		color      : white;
		float      : left;
		font       : normal 18pt/1 "Bebas Neue", Arial, sans-serif;
		margin     : 4pt 0 0 6pt;
		text-align : left;
		width      : 135px;
	}

	#countDownContainer .table {
		display     : table;
		float       : right;
		line-height : 1px;
		margin      : 6pt 8pt 0 0;
	}

	#countDownContainer .table-row {
		display : table-row;
	}

	#countDownContainer .table p,
	#countDownContainer .table-cell {
		display     : table-cell;
		text-align  : center;
		white-space : nowrap;
	}

	#countDownContainer p.spacer {
		color     : white;
		font-size : 12pt;
		width     : 8px;
	}

	#countDownContainer p.timerLabel {
		color     : white;
		font-size : 6pt;
		padding   : 0;
		width     : 46px;
	}

	#countDownContainer p.digit {
		background-color : #fff;
		border-radius    : 5px;
		box-shadow       : inset 0 0 2px #999;
		color            : black;
		display          : inline-block;
		font             : normal 14pt/30px Arial, sans-serif;
		height           : 30px;
		margin           : 0 1pt 0 0;
		padding          : 0;
		text-align       : center;
		vertical-align   : middle;
		width            : 22px;
	}

	@media screen and (max-width : 400px) {
		#countDownContainer {
			display : none;
		}
	}
</style>
<div id="countDownContainer" style="display: none;">
	<p class="title">DON'T FORGET YOUR VALENTINE</p>
	<div class="table">
		<div class="table-row">
			<!-- days -->
			<div class="table-cell">
				<p class="digit">0</p>
				<p class="digit">0</p>
			</div>
			<p class="spacer">:</p>
			<!-- hours -->
			<div class="table-cell">
				<p class="digit">0</p>
				<p class="digit">0</p>
			</div>
			<p class="spacer">:</p>
			<!-- minutes -->
			<div class="table-cell">
				<p class="digit">0</p>
				<p class="digit">0</p>
			</div>
			<p class="spacer">:</p>
			<!-- seconds -->
			<div class="table-cell">
				<p class="digit">0</p>
				<p class="digit">0</p>
			</div>
		</div>
		<div class="table-row">
			<p class="timerLabel">DAYS</p>
			<p class="spacer"></p>
			<p class="timerLabel">HOURS</p>
			<p class="spacer"></p>
			<p class="timerLabel">MINUTES</p>
			<p class="spacer"></p>
			<p class="timerLabel">SECONDS</p>
		</div>
	</div>
</div>
<script src="https://secure.defenders.org/js/countdown.min.js"></script>
<script>
	Y.use("jquery-noconflict", function(Y) {

		function update(endDate) {
			var counterDisplay = jQuery('.digit'),
				 units          = countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS,
				 timeSpan       = countdown(null, endDate, units),
				 results        = formatTens(timeSpan.days) +
										formatTens(timeSpan.hours) +
										formatTens(timeSpan.minutes) +
										formatTens(timeSpan.seconds),
				 digits         = results.split(''),
				 now            = new Date();

			if (now.getTime() > endDate.getTime()) {
				jQuery('#countDownContainer').hide();

			} else {
				counterDisplay.each(function(index) {
					jQuery(this).text(digits[index]);
				});
			}
		}

		function formatTens(n) {
			// format integers to have at least two digits
			return (n < 10) ? '0' + n : '' + n;
		}

		jQuery(document).ready(function() {
			var startDate = new Date("February 1, 2016 00:00 EST"),
				 endDate   = new Date("February 13, 2016 23:59:59 EST"),
				 now       = new Date();

			// if deadline has not passed
			if (now.getTime() > startDate.getTime() &&
				 now.getTime() < endDate.getTime()) {
				var counterObject = jQuery('#countDownContainer');

				jQuery('section.top-bar-section.show-for-medium-up').prepend(counterObject);
				counterObject.show();

				update(endDate);
				setInterval(function() {
					update(endDate);
				}, 1000);
			} // end if deadline has not passed
		}); // end jQuery(document).ready
	}); // end Y.use("jquery-noconflict"...
</script>